<%- include('../partials/head'); %>
<body>
    <header>
        <h1>Farmacia <br> Santa Rita</h1>
    </header>
    <div class="screen">
        <div class="selected">Comprar con Receta      </div>
        <div class="selected">Con Obra Social / Mutual</div>
        <div class="selected">&nbsp;O.S.E.P       </div>
        <!----------------------------------------------------->
        <form action="<%= url %>/carnet" method="POST" enctype="multipart/form-data">

            <p><label>Ingresa tu nombre y apellido: </label><input type="text" name="nombre" id="nombre"> </p>
            <p><label>Ahora vomos a subir una imágen del carnet de afiliado:</label></p>
            <!--input class="custom-btn btn-13" type="file" name="carnet"-->

            <label for="archivoInput" class="boton-personalizado" id="labelArchivoInput" >
                Foto/imagen del carnet
            </label><span ></span>

            <input type="file" id="archivoInput" name="carnet">

            <button class="custom-btn btn-13" id="enviar" disabled>Enviar</button>
        </form>


        <script>
            const archivoInput = document.getElementById('archivoInput');
/* */
            archivoInput.addEventListener('change', (event) => {
                const archivoSeleccionado = event.target.files[0]; // El primer archivo seleccionado
                if (archivoSeleccionado) {
                    console.log('Nombre del archivo seleccionado:', archivoSeleccionado.name);
                    document.getElementById('labelArchivoInput').innerText = archivoSeleccionado.name;
                    console.log('Tipo MIME del archivo:', archivoSeleccionado.type);
                    console.log('Tamaño del archivo (en bytes):', archivoSeleccionado.size);
                    console.log('Última fecha de modificación:', archivoSeleccionado.lastModifiedDate);
                    document.getElementById("enviar").removeAttribute("disabled");
                } else {
                    console.log('Ningún archivo seleccionado');
                }
            });
        </script>

    </div>

    <%- include('../partials/scr'); %>
    <footer>
        <p>Simon Bolivar 155 Lavalle <br>
        <a href="tel:0261-4941586" style="color: white" title="Toca para llamar a Farmacia Santa Rita"> 0261-4941586 </a>
        </p>
    </footer>
</body>
</html>