<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script src="/script.js"></script>
</head>
<body>
    <header>
        <h1>Farmacia <br> Santa Rita</h1>
    </header>
    <div class="screen">
        <div class="selected">Comprar con Receta</div>
        <button class="custom-btn btn-13" onclick="cu11()">Tengo Obra Social / Mutual</button>
        <button class="custom-btn btn-13" onclick="cu21()">No tengo Obra Social / Mutual</button>
        <button class="custom-btn btn-13" onclick="cu00()">Volver</button>

    </div>
    <script>

    </script>
    </script>
    <footer>
        <p>Simon Bolivar 155 Lavalle <br>
        <a href="tel:0261-4941586" style="color: white" title="Toca para llamar a Farmacia Santa Rita"> 0261-4941586 </a>
        </p>
    </footer>
</body>
</html>