<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script src="/script.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" >

</head>
<body>
    <header>
        <h1>Farmacia <br> Santa Rita</h1>
    </header>
    <div class="screen">
        <div class="selected">Comprar con Receta</div>
        <div class="selected">Con Obra Social / Mutual</div>
        <!----------------------------------------------------->
        <button class="custom-btn btn-13" onclick="cu111()">O.S.E.P</i></button>
        <button class="custom-btn btn-13">DAMSU</i></button>
        <button class="custom-btn btn-13">Otra</i></button>
        <button class="custom-btn btn-13" onclick="cu00()">Volver</button>

    </div>
    <footer>
        <p>Simon Bolivar 155 Lavalle <br>
        <a href="tel:0261-4941586" style="color: white" title="Toca para llamar a Farmacia Santa Rita"> 0261-4941586 </a>
        </p>
    </footer>
</body>
</html>